@import "tailwindcss";

#hidden,#chatdiv {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

#hidden,#chatdiv::-webkit-scrollbar {
  width: 8px;
}

#hidden,#chatdiv::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 9999px;
}
#hidden,
#chatdiv::-webkit-scrollbar-track {
  background: transparent;
}